Repository Amplitude-Developer-Docs/amplitude-dev-center, pull requests merged in 2022-11, with the labels that each got.

#378 DDI-276 Fixes Broken Link + Search Tweaks for SDKs
  docs/data/sdks/android-kotlin/index.md
  docs/data/sdks/android/index.md
  docs/data/sdks/javascript/index.md
  docs/data/sdks/node/index.md
  docs/data/sdks/react-native/index.md
  docs/data/sdks/typescript-node/index.md
Labels: documentation, doc update

#380 docs: add ts logging doc, fix minor import typos
  docs/data/sdks/typescript-browser/index.md
  docs/data/sdks/typescript-node/index.md
  docs/data/sdks/typescript-react-native/index.md
  includes/sdk-ts-browser/shared-configurations.md
Labels: documentation, doc update

#379 DDI-267 Adding section for user prop operators
  docs/data/converter-configuration-reference.md
Labels: documentation, doc update

#381 DDI-277 Make SDK Quickstart guide easier to find
  docs/data/sdks/index.md
  mkdocs.yml
  overrides/home.html
  overrides/main.html
Labels: documentation, enhancement

#383 Add plugin differences section
  docs/data/sdks/typescript-browser/index.md
Labels: documentation, doc update

#386 DDI-280 Fixing Link
  docs/data/sources/kochava.md
Labels: documentation, doc update

#387 DDI-278 Adds Hackathon banner and turns on dismiss feature
  mkdocs.yml
  overrides/main.html
Labels: enhancement

#384 DDI-275 Adding considerations section for BQ export
  docs/data/destinations/bigquery.md
Labels: documentation, doc update

#389 Update link to hackathon
  overrides/main.html
Labels: enhancement

#391 Remove Data beta label
  docs/data/index.md
Labels: documentation, doc update

#394 DDI-279 Add Sandbox Note
  docs/data/sources/salesforce-group.md
Labels: documentation, doc update

#395 DDI-288 Fixing bracket syntax error
  docs/analytics/apis/dashboard-rest-api.md
Labels: bug, documentation

#396 DDI-222 Adds AMP doc
  docs/analytics/use-amp-pages.md
  docs/assets/images/analytics-amp-results.png
  mkdocs.yml
Labels: documentation, new doc

#393 docs: update ts docs
  docs/data/sdks/typescript-browser/ampli.md
  docs/data/sdks/typescript-browser/index.md
  docs/data/sdks/typescript-node/ampli.md
  docs/data/sdks/typescript-node/index.md
  docs/data/sdks/typescript-react-native/ampli.md
  docs/data/sdks/typescript-react-native/index.md
Labels: documentation, doc update

#398 adding time-based import explanation
  docs/data/sources/snowflake.md
Labels: documentation, doc update

#400 Fixing broken link
  docs/experiment/sdks/react-native-sdk.md
Labels: bug, documentation

#402 Vale nov14
  .github/styles/Amplitude/HeadingGerunds.yml
  docs/data/iglu-api.md
  docs/data/ttl-configuration.md
  docs/experiment/sdks/jvm-sdk.md
  docs/experiment/sdks/nodejs-sdk.md
  docs/experiment/sdks/python-sdk.md
  docs/experiment/sdks/react-native-sdk.md
  docs/experiment/sdks/ruby-sdk.md
  docs/partners/cohort-integration-guide.md
  docs/partners/event-ingestion-integration-guide.md
  docs/partners/event-streaming-integration-guide.md
  docs/partners/integration-portal.md
  docs/partners/sending-cohorts.md
Labels: documentation, doc update

#403 DDI-291 update Pillow req for vulnerability
  requirements.txt
Labels: bug

#399 Update qualtrics-cohort.md
  docs/data/destinations/qualtrics-cohort.md
Labels: documentation, doc update

#407 DDI-292 Clarifies event group limits
  docs/analytics/apis/http-v2-api.md
Labels: documentation, doc update

#417 Even more vale updates.
  .github/styles/Amplitude/ComplexWords.yml
  .github/styles/Amplitude/HeadingGerunds.yml
  .github/styles/Amplitude/Headings.yml
  .github/styles/Amplitude/Passive.yml
  .github/styles/Amplitude/TooWordy.yml
  docs/analytics/apis/attribution-api.md
  docs/analytics/apis/batch-event-upload-api.md
  docs/analytics/apis/user-privacy-api.md
  docs/data/ampli/git-workflow.md
  docs/data/destinations/kinesis-data-stream.md
  docs/data/destinations/qualtrics-cohort.md
  docs/data/destinations/webhooks-streaming.md
  docs/data/sources/amazon-s3.md
  docs/data/sources/google-cloud-storage.md
  docs/data/sources/hubspot.md
  docs/data/sources/mailchimp.md
  docs/data/sources/radar.md
  docs/data/sources/segment.md
  docs/data/sources/sendgrid.md
  docs/data/sources/shopify.md
  docs/data/sources/snowflake.md
  docs/partners/cohort-integration-guide.md
  docs/partners/event-ingestion-integration-guide.md
Labels: documentation, doc update

#418 DDI-262 add Userlist Even Streaming doc
  docs/data/destinations/userlist-event-streaming.md
  includes/data-destinations-event-streaming.md
  mkdocs.yml
Labels: documentation, new doc

#412 doc: add subset flag doc for experiment android, ios, js
  docs/experiment/sdks/android-sdk.md
  docs/experiment/sdks/ios-sdk.md
  docs/experiment/sdks/javascript-sdk.md
Labels: documentation, doc update

#419 DDI-296 Adds Toplyne docs
  .github/styles/Vocab/dev/accept.txt
  docs/data/destinations/toplyne.md
  includes/data-destinations-event-streaming.md
  mkdocs.yml
  overrides/.icons/toplyne.svg
Labels: documentation, new doc

#420 DDI-297 Adds Transcend docs
  docs/data/pii/transcend.md
  includes/data-pii.md
  mkdocs.yml
  overrides/.icons/transcend.svg
Labels: documentation, new doc

#421 DDI-298 Clarifying example and fixing broken formatting
  docs/data/sdks/typescript-browser/migration.md
Labels: documentation, doc update

#424 DDI-299 Fixes copy paste error in table
  includes/sdk-ts-browser/shared-configurations.md
Labels: bug, documentation

#426 Vale Tweaks Nov 28
  .github/styles/Amplitude/ComplexWords.yml
  .github/styles/Amplitude/HeadingGerunds.yml
  .github/styles/Amplitude/Headings.yml
  .github/styles/Amplitude/Passive.yml
  docs/analytics/apis/taxonomy-api-2.md
  docs/data/sdks/android-kotlin/index.md
  docs/data/sdks/android/ampli.md
  docs/data/sdks/android/index.md
  docs/data/sdks/javascript/index.md
  docs/data/sdks/react-native/index.md
  docs/data/sdks/typescript-browser/index.md
  docs/experiment/apis/evaluation-api.md
  docs/experiment/apis/management-api.md
  docs/experiment/general/evaluation/implementation.md
Labels: documentation, doc update

#422 Fix invalid name in Configuration
  docs/data/sdks/marketing-analytics-browser/index.md
Labels: bug, documentation

#428 DDI-300 updating identify API based on customer feedback
  docs/analytics/apis/identify-api.md
  includes/auth-api-key-query-or-body-param.md
Labels: documentation, big doc

#430 DDI-301 Adds info about base64 encoding to API basic auth reusables
  includes/auth-basic-org-key.md
  includes/auth-basic.md
Labels: documentation, doc update

#431 DDI-302 Adds different ways to browse postman collection
  includes/postman.md
Labels: enhancement, feedback

#427 AMP-63922 Adding base64 note
  docs/analytics/apis/user-privacy-api.md
Labels: documentation, doc update
