Repository Amplitude-Developer-Docs/amplitude-dev-center, pull requests merged in 2022-12, with the labels that each got.

#433 Fix visible comment
  docs/data/ampli/git-workflow.md
Labels: bug, documentation

#425 Update event-streaming-integration-guide.md
  docs/partners/event-streaming-integration-guide.md
Labels: documentation, doc update

#437 DDI-305 Make Tweaks to home page.
  overrides/home.html
Labels: documentation, doc update

#432 DDI-303 Add examples to API doc (experimental)
  docs/analytics/apis/dashboard-rest-api.md
  docs/stylesheets/extra.css
  includes/postman-interactive.md
Labels: enhancement, big doc, feedback

#438 update performance metrics, add per region performance
  docs/experiment/general/performance-and-caching.md
Labels: documentation, doc update

#439 remove beta tags from experiment react native sdk
  docs/experiment/sdks/react-native-sdk.md
  mkdocs.yml
Labels: documentation, doc update

#434 AMP-64715 Google Analytics 4 event streaming docs update
  docs/data/destinations/google-analytics-4-firebase.md
  docs/data/destinations/google-analytics-4-gtag.md
  docs/data/destinations/google-analytics-4.md
  includes/data-destinations-event-streaming.md
  mkdocs.yml
Labels: documentation, new doc

#444 Update Dev Portal Event Streaming page
  docs/assets/images/partners/partner-customize-user-properties-mapping.png
  docs/assets/images/partners/partner-event-body-editor.png
  docs/partners/event-streaming-integration-guide.md
Labels: documentation, doc update

#451 Fixing typo
  docs/data/destinations/moengage-cohort.md
  requirements.txt
Labels: bug, documentation

#448 Correct Redshift Warehouse Export data types
  docs/data/destinations/redshift.md
Labels: bug, documentation, doc update

#454 DDI-325 Fixes typo and adds cURL example
  docs/analytics/apis/group-identify-api.md
Labels: documentation, doc update

#452 doc: GA experiment ruby SDK
  docs/experiment/sdks/ruby-sdk.md
  mkdocs.yml
Labels: documentation, doc update

#456 DDI-333 Clean up requirements.txt
  requirements.txt
Labels: bug, enhancement

#435 Update Intercom Dev Doc for Intercom Source v2
  docs/data/sources/intercom.md
Labels: documentation, doc update

#459 DDI-323 Add statuspage integration and link to status page to footer
  docs/javascripts/statuspage.js
  mkdocs.yml
  overrides/home.html
  overrides/partials/footer.html
Labels: enhancement

#461 DDI-331 Investigate Auth confusion in Annotations API doc.
  docs/analytics/apis/chart-annotations-api.md
Labels: documentation, doc update

#462 DDI-335 Adding new GTM template
  docs/data/sources/google-tag-manager.md
Labels: documentation, doc update

#466 Update batch-event-upload-api.md
  docs/analytics/apis/batch-event-upload-api.md
Labels: documentation, doc update

#468 Add IOS swift beta sdk to sdk catalog
  includes/data-sources-sdks.md
Labels: documentation, doc update

#463 DDI-308 Import Insider Events
  docs/data/sources/insider.md
  includes/data-sources-other.md
  mkdocs.yml
Labels: documentation, new doc

#467 update sdk release milestones and versions
  docs/experiment/general/evaluation/local-evaluation.md
  includes/data-sources-sdks.md
  mkdocs.yml
Labels: documentation, doc update

#464 DDI-337 Navigation changes for upcoming content changes
  docs/analytics/apis/index.md
  docs/analytics/data-backfill-guide.md
  docs/analytics/index.md
  docs/data/sdks/index.md
  docs/data/sdks/sdk-quickstart.md
  docs/documentation-home.md
  includes/data-sources-sdks.md
  includes/experiment-client-sdks.md
  includes/experiment-server-sdks.md
  mkdocs.yml
  overrides/home.html
  overrides/main.html
Labels: enhancement, big doc

#474 DDI-338 Fix absolute link that goes to the wrong place
  includes/sdk-ts-browser/shared-configurations.md
Labels: bug, documentation

#473 DDI-332: Add Event Streaming home page
  .markdown-link-check.json
  docs/data/destinations.md
  docs/data/event-streaming-home.md
  includes/data-destinations-event-streaming.md
  mkdocs.yml
Labels: documentation, new doc
