Repository Amplitude-Developer-Docs/amplitude-dev-center, pull requests merged in 2022-10, with the labels that each got.

#307 Ddi 248.test new version
  mkdocs.yml
  requirements.txt
Labels: enhancement

#308 Fix broken link
  docs/analytics/apis/attribution-api.md
Labels: documentation, doc update

#305 docs: add cross domain section for typescript browser sdk
  docs/data/sdks/javascript/index.md
  docs/data/sdks/typescript-browser/index.md
Labels: documentation, doc update

#309 Fixing ADID attribution references
  docs/data/sources/adjust.md
  docs/data/sources/appsflyer.md
Labels: bug, documentation, doc update

#312 DDI-251 Vale Fixes: Ampli Folder
  .github/styles/Amplitude/Accessibility.yml
  .github/styles/Amplitude/ComplexWords.yml
  .github/styles/Amplitude/HeadingGerunds.yml
  .github/styles/Amplitude/Headings.yml
  .github/styles/Amplitude/Passive.yml
  .github/styles/Amplitude/TooWordy.yml
  .github/styles/Amplitude/Vocab.yml
  .github/styles/Vocab/dev/accept.txt
  docs/data/ampli/cli.md
  docs/data/ampli/git-workflow.md
  docs/data/ampli/integrating-with-ci.md
  docs/data/ampli/middleware.md
  docs/data/ampli/migration.md
  docs/data/ampli/plugin.md
  docs/data/ampli/sdk.md
Labels: documentation, big doc

#316 Fix feature availability note
  docs/data/sources/lookup-table.md
Labels: documentation, doc update

#315 AMP-59355 - add kotlin advanced topic
  docs/data/sdks/android-kotlin/index.md
  docs/data/sdks/android/index.md
Labels: documentation, doc update

#320 Fixes #319 JSON problem
  docs/analytics/apis/dashboard-rest-api.md
Labels: bug, doc update

#322 DDI-256 More Vale Updates
  .github/styles/Amplitude/ComplexWords.yml
  .github/styles/Amplitude/FirstPerson.yml
  .github/styles/Amplitude/HeadingColons.yml
  .github/styles/Amplitude/HeadingGerunds.yml
  .github/styles/Amplitude/HeadingPunctuation.yml
  .github/styles/Amplitude/Headings.yml
  .github/styles/Amplitude/Passive.yml
  .github/styles/Amplitude/Spacing.yml
  .github/styles/Amplitude/Will.yml
  .github/styles/Vocab/dev/accept.txt
  docs/data/pii/datagrail.md
  docs/data/sdks/android-kotlin/ampli.md
  docs/data/sdks/android-kotlin/index.md
  docs/data/sdks/android/ampli.md
  docs/data/sdks/android/index.md
  docs/data/sdks/flutter/index.md
  docs/data/sdks/go/ampli.md
  docs/data/sdks/go/index.md
  docs/data/sdks/ios/ampli.md
  docs/data/sdks/ios/index.md
  docs/data/sdks/java/ampli.md
  docs/data/sdks/java/index.md
  docs/data/sdks/javascript/ampli.md
  docs/data/sdks/javascript/index.md
  docs/data/sdks/node/ampli.md
  docs/data/sdks/node/index.md
  docs/data/sdks/python/ampli.md
  docs/data/sdks/python/index.md
  docs/data/sdks/react-native/ampli.md
  docs/data/sdks/typescript-browser/ampli.md
  docs/data/sdks/typescript-browser/index.md
  docs/data/sdks/typescript-node/ampli.md
Labels: documentation, big doc

#323 AMP-61625: Marketing Analytics Browser
  docs/data/sdks/android-kotlin/index.md
  docs/data/sdks/marketing-analytics-browser/index.md
  docs/data/sdks/typescript-browser/index.md
  includes/sdk-httpv2-notice.md
  includes/sdk-ts-browser/init.md
  includes/sdk-ts-browser/marketing-analytics.md
  includes/sdk-ts-browser/shared-configurations.md
  mkdocs.yml
Labels: documentation, big doc, new doc

#333 Fixing some errors in MA SDK
  .github/styles/Amplitude/Will.yml
  .github/styles/Vocab/dev/accept.txt
  docs/data/sdks/marketing-analytics-browser/index.md
  includes/sdk-ts-browser/marketing-analytics.md
  includes/sdk-ts-browser/shared-configurations.md
Labels: documentation, doc update

#331 Adds example for setting min_id_length
  docs/data/sdks/android-kotlin/index.md
Labels: documentation, doc update

#335 DDI-257 Vale Cleanup Sources folder
  .github/styles/Amplitude/ComplexWords.yml
  .github/styles/Amplitude/FirstPerson.yml
  .github/styles/Amplitude/HeadingGerunds.yml
  .github/styles/Amplitude/Headings.yml
  .github/styles/Amplitude/Passive.yml
  .github/styles/Amplitude/Terms.yml
  .github/styles/Amplitude/TooWordy.yml
  .github/styles/Amplitude/Will.yml
  .github/styles/Amplitude/Wordiness.yml
  .github/styles/Vocab/dev/accept.txt
  docs/data/sources/adjust.md
  docs/data/sources/adobe-analytics.md
  docs/data/sources/airbridge.md
  docs/data/sources/amazon-s3.md
  docs/data/sources/appsflyer.md
  docs/data/sources/bigquery.md
  docs/data/sources/branch.md
  docs/data/sources/braze.md
  docs/data/sources/convizit.md
  docs/data/sources/cordial.md
  docs/data/sources/datazoom.md
  docs/data/sources/facebook-ads.md
  docs/data/sources/google-ads.md
  docs/data/sources/google-cloud-storage.md
  docs/data/sources/hubspot.md
  docs/data/sources/intercom.md
  docs/data/sources/iterable.md
  docs/data/sources/mailchimp.md
  docs/data/sources/mparticle.md
  docs/data/sources/optimizely.md
  docs/data/sources/qualtrics.md
  docs/data/sources/radar.md
  docs/data/sources/rudderstack.md
  docs/data/sources/segment.md
  docs/data/sources/sendgrid.md
  docs/data/sources/shopify.md
  docs/data/sources/snowflake.md
  docs/data/sources/split.md
  docs/data/sources/taplytics.md
Labels: documentation, big doc

#337 Correct the response type for getting all events
  docs/analytics/apis/taxonomy-api.md
Labels: documentation, doc update

#328 Update event-streaming-integration-guide.md
  docs/partners/event-streaming-integration-guide.md
Labels: documentation, doc update

#339 Adds Statsig docs
  .github/styles/Vocab/dev/accept.txt
  docs/data/destinations/statsig.md
  includes/data-destinations-event-streaming.md
  mkdocs.yml
Labels: documentation, new doc

#332 DDI-225 Add Snapchat Ads Cohort Docs
  .github/styles/Vocab/dev/accept.txt
  docs/data/destinations/snapchat-ads-cohort.md
  includes/data-destinations-cohorts.md
  mkdocs.yml
  overrides/.icons/snapchat.svg
Labels: documentation, new doc

#340 Add new button to statsig
  docs/data/destinations/statsig-cohort.md
Labels: documentation, doc update

#336 add clear variants doc
  docs/experiment/sdks/android-sdk.md
  docs/experiment/sdks/ios-sdk.md
  docs/experiment/sdks/javascript-sdk.md
  docs/experiment/sdks/react-native-sdk.md
Labels: documentation, doc update

#346 Adds Skip User Properties Sync section
  docs/data/converter-configuration-reference.md
Labels: documentation, doc update

#347 Vale: Warnings and Error Fixes in Analytics Dir
  .github/styles/Amplitude/Ellipses.yml
  .github/styles/Amplitude/HeadingGerunds.yml
  .github/styles/Vocab/dev/accept.txt
  .markdown-link-check.json
  docs/analytics/apis/attribution-api.md
  docs/analytics/apis/batch-event-upload-api.md
  docs/analytics/apis/behavioral-cohorts-api.md
  docs/analytics/apis/ccpa-dsar-api.md
  docs/analytics/apis/dashboard-rest-api.md
  docs/analytics/apis/export-api.md
  docs/analytics/apis/http-v2-api.md
  docs/analytics/apis/taxonomy-api.md
  docs/analytics/apis/user-privacy-api.md
  docs/analytics/apis/user-profile-api.md
  docs/analytics/domain-proxy.md
Labels: documentation, doc update

#348 Add MoEnage Events
  docs/data/sources/moengage.md
  includes/data-sources-other.md
  mkdocs.yml
Labels: documentation, new doc

#349 Add searchable section for Data Tables export.
  .github/styles/Amplitude/HeadingGerunds.yml
  docs/analytics/apis/dashboard-rest-api.md
Labels: documentation, doc update

#350 Vale Cleanup: Fix errors and warnings in Experiment Dir.
  .github/styles/Amplitude/Adverbs.yml
  .github/styles/Amplitude/HeadingGerunds.yml
  .github/styles/Amplitude/Headings.yml
  .github/styles/Amplitude/Vocab.yml
  .github/styles/Amplitude/Wordiness.yml
  .github/styles/Vocab/dev/accept.txt
  docs/experiment/apis/evaluation-api.md
  docs/experiment/apis/management-api.md
  docs/experiment/general/evaluation/implementation.md
  docs/experiment/general/evaluation/local-evaluation.md
  docs/experiment/general/evaluation/remote-evaluation.md
  docs/experiment/general/performance-and-caching.md
  docs/experiment/guides/create-local-evaluation-flag.md
  docs/experiment/guides/getting-started/create-a-deployment.md
  docs/experiment/guides/getting-started/create-a-flag.md
  docs/experiment/guides/getting-started/fetch-variants.md
  docs/experiment/guides/getting-started/track-exposure.md
  docs/experiment/guides/server-side-rendering.md
  docs/experiment/index.md
  docs/experiment/sdks/android-sdk.md
  docs/experiment/sdks/go-sdk.md
  docs/experiment/sdks/ios-sdk.md
  docs/experiment/sdks/javascript-sdk.md
  docs/experiment/sdks/jvm-sdk.md
  docs/experiment/sdks/nodejs-sdk.md
  docs/experiment/sdks/python-sdk.md
  docs/experiment/sdks/react-native-sdk-legacy.md
  docs/experiment/sdks/react-native-sdk.md
  docs/experiment/sdks/ruby-sdk.md
Labels: documentation, big doc

#351 Vale Cleanup: Final warning and error fixes.
  docs/data/destinations.md
  docs/data/sdks/android-kotlin/index.md
  docs/data/sdks/flutter/index.md
  docs/partners/index.md
  docs/partners/sending-cohorts.md
Labels: documentation, doc update

#357 Remove Beta Label
  docs/data/destinations/redshift.md
Labels: documentation, doc update

#358 Fix broken admonition syntax
  docs/data/destinations/snowflake.md
Labels: bug, documentation

#352 browser sdks re-structure
  docs/data/sdks/index.md
  docs/data/sdks/javascript/index.md
  docs/data/sdks/marketing-analytics-browser/index.md
  docs/data/sdks/typescript-browser/index.md
  mkdocs.yml
Labels: documentation, doc update

#361 DDI-269 Add Webhook Doc
  .github/styles/Amplitude/HeadingGerunds.yml
  .github/styles/Amplitude/Headings.yml
  .github/styles/Vocab/dev/accept.txt
  docs/data/destinations/webhooks-streaming.md
  includes/data-destinations-event-streaming.md
  mkdocs.yml
Labels: documentation, new doc

#363 Vale suggestion cleanup1
  .github/styles/Amplitude/HeadingGerunds.yml
  .github/styles/Amplitude/Headings.yml
  .github/styles/Amplitude/Passive.yml
  .github/styles/Vocab/dev/accept.txt
  docs/analytics/apis/batch-event-upload-api.md
  docs/analytics/apis/dashboard-rest-api.md
  docs/analytics/apis/http-v2-api.md
  docs/analytics/apis/identify-api.md
  docs/analytics/apis/scim-api.md
  docs/analytics/apis/taxonomy-api.md
  docs/analytics/apis/user-privacy-api.md
  docs/analytics/apis/user-profile-api.md
  docs/data/ampli/cli.md
  docs/data/ampli/git-workflow.md
  docs/data/ampli/integrating-with-ci.md
  docs/data/destinations/airship-cohort.md
  docs/data/destinations/amazon-s3-cohort.md
  docs/data/destinations/customerio-cohort.md
  docs/data/destinations/facebook-cohort.md
  docs/data/destinations/google-cloud-storage.md
  docs/data/destinations/google-pub-sub.md
  docs/data/destinations/hubspot-cohort.md
  docs/data/destinations/insider-cohort.md
  docs/data/destinations/intercom.md
  docs/data/destinations/iterable-cohort.md
  docs/data/destinations/kinesis-data-stream.md
  docs/data/destinations/kinesis-firehose.md
  docs/data/destinations/mailchimp-cohort.md
  docs/data/destinations/onesignal-cohort.md
  docs/data/destinations/redshift.md
  docs/data/destinations/segment-cohort.md
  docs/data/destinations/sendgrid-cohort.md
  docs/data/destinations/snapchat-ads-cohort.md
  docs/data/destinations/snowflake.md
  docs/data/destinations/split-cohort.md
  docs/data/destinations/tiktok-cohort.md
Labels: documentation, doc update

#366 Add Fivetran streaming doc
  .github/styles/Vocab/dev/accept.txt
  docs/data/destinations/fivetran-event-forwarding.md
  includes/data-destinations-event-streaming.md
  mkdocs.yml
  overrides/.icons/fivetran.svg
Labels: documentation, new doc

#368 snowflake data share export documentation
  .github/styles/Amplitude/Headings.yml
  docs/data/destinations/snowflake-data-share.md
  includes/data-destinations-warehouse.md
  mkdocs.yml
Labels: documentation, new doc

#370 DDI-260 Add Lantern Docs
  docs/data/destinations/lantern-event-streaming.md
  includes/data-destinations-event-streaming.md
  mkdocs.yml
  overrides/.icons/lantern.svg
Labels: documentation, new doc

#365 Update customerio-cohort.md
  docs/data/destinations/customerio-cohort.md
Labels: documentation, doc update

#372 Fixing desc and status for maze doc
  docs/data/destinations/maze-cohort.md
Labels: documentation, doc update
