Repository Amplitude-Developer-Docs/amplitude-dev-center, pull requests merged in 2023-02, with the labels that each got.

#566 DDI-420 Adding Marketo Static List Docs
  .github/styles/Vocab/dev/accept.txt
  docs/data/destinations/marketo-cohort.md
  docs/data/destinations/marketo-static-list-cohort.md
  includes/data-destinations-cohorts.md
  mkdocs.yml
Labels: documentation, new doc

#558 DDI-404 [Contextual Doc] Android Guide
  docs/data/sdks/android-kotlin/index.md
  docs/data/sdks/sdk-quickstart.md
Labels: documentation, big doc

#560 added the missed example in ios legacy
  docs/data/sdks/ios/index.md
Labels: doc update

#567 doc: update python quick start example with flush
  docs/data/sdks/sdk-quickstart.md
Labels: documentation, doc update

#540 NO MERGE, OFFLIINE APPROVAL: DDI-357: Adds Taxonomy API Examples
  docs/analytics/apis/taxonomy-api.md
Labels: documentation, big doc

#571 DDI-352 Add HTTP V2 Examples
  docs/analytics/apis/http-v2-api.md
Labels: enhancement, roadmap work

#573 DDI-347 Adding New Format Examples to Cohort API
  docs/analytics/apis/behavioral-cohorts-api.md
  docs/analytics/apis/http-v2-api.md
Labels: doc update, roadmap work

#562 Update destination-event-streaming-overview.md
  docs/data/destination-event-streaming-overview.md
Labels: documentation, doc update

#559 DDI:367: Add index for Experiment getting started
  docs/experiment/guides/getting-started/create-a-deployment.md
  docs/experiment/guides/getting-started/fetch-variants.md
  docs/experiment/guides/getting-started/index.md
  docs/experiment/index.md
  mkdocs.yml
Labels: new doc

#575 DDI-419 Adding plotline cohort doc
  .github/styles/Vocab/dev/accept.txt
  docs/data/destinations/plotline-cohort.md
  includes/data-destinations-cohorts.md
  mkdocs.yml
  overrides/.icons/plotline.svg
Labels: documentation, new doc

#553 chore: updated SDK versions/snippets
  docs/data/deprecated-sdks/android.md
  docs/data/sdks/android-kotlin/ampli.md
  docs/data/sdks/android/ampli.md
  docs/data/sdks/android/index.md
  docs/data/sdks/flutter/index.md
  docs/data/sdks/go/ampli.md
  docs/data/sdks/ios-swift/index.md
  docs/data/sdks/ios-swift/migration.md
  docs/data/sdks/ios/ampli.md
  docs/data/sdks/ios/index.md
  docs/data/sdks/java/ampli.md
  docs/data/sdks/java/index.md
  docs/data/sdks/javascript/ampli.md
  docs/data/sdks/javascript/index.md
  docs/data/sdks/node/ampli.md
  docs/data/sdks/react-native/ampli.md
  docs/data/sdks/react-native/index.md
  docs/data/sdks/sdk-quickstart.md
  docs/data/sdks/typescript-browser/index.md
  docs/data/sdks/typescript-browser/migration.md
  docs/data/sdks/unity/index.md
Labels: doc update

#574 doc: update Go snippets and remove Beta status
  docs/data/sdks/go/ampli.md
  docs/data/sdks/go/index.md
  docs/data/sdks/sdk-quickstart.md
  includes/ampli/flush/ampli-flush-snippet-go.md
  includes/data-sources-sdks-server-side.md
  includes/data-sources-sdks.md
  mkdocs.yml
Labels: documentation, doc update

#570 DDI-405 [Contextual Doc] SDK Quickstart Guides
  docs/data/sdks/go/index.md
  docs/data/sdks/ios-swift/index.md
  docs/data/sdks/ios/index.md
  docs/data/sdks/java/index.md
  docs/data/sdks/python/index.md
  docs/data/sdks/sdk-quickstart.md
  docs/data/sdks/typescript-browser/index.md
  docs/data/sdks/typescript-node/index.md
  includes/sdk-quickstart/quickstart-enforce-event-schema-intro.md
  includes/sdk-quickstart/quickstart-eu-data-residency.md
  includes/sdk-quickstart/quickstart-initialization.md
  mkdocs.yml
Labels: doc update, roadmap work

#579 DDI-422 Add Dedupe Section to Amazon S3 import
  .github/styles/Vocab/dev/accept.txt
  docs/data/sources/amazon-s3.md
Labels: documentation, doc update, feedback

#530 AMP-66640 [streaming] Update identify forwarding description
  docs/data/destinations/braze.md
  docs/data/destinations/customerio.md
  docs/data/destinations/intercom.md
  docs/data/destinations/iterable.md
Labels: documentation, doc update
