Repository Amplitude-Developer-Docs/amplitude-dev-center, pull requests merged in 2023-01, with the labels that each got.

#481 DDI-322 add styling for required and optional tags.
  docs/analytics/apis/attribution-api.md
  docs/analytics/apis/batch-event-upload-api.md
  docs/analytics/apis/behavioral-cohorts-api.md
  docs/analytics/apis/ccpa-dsar-api.md
  docs/analytics/apis/chart-annotations-api.md
  docs/analytics/apis/dashboard-rest-api.md
  docs/analytics/apis/export-api.md
  docs/analytics/apis/http-v2-api.md
  docs/analytics/apis/identify-api.md
  docs/analytics/apis/lookup-tables-api.md
  docs/analytics/apis/releases-api.md
  docs/analytics/apis/scim-api.md
  docs/analytics/apis/taxonomy-api.md
  docs/analytics/apis/user-profile-api.md
  docs/stylesheets/extra.css
Labels: enhancement

#480 Correct timestamp common snippet snowflake.md
  docs/data/sources/snowflake.md
Labels: bug, doc update

#472 DDI-304 mapping api
  .github/styles/Amplitude/HeadingGerunds.yml
  .github/styles/Vocab/dev/accept.txt
  docs/analytics/apis/aliasing-api.md
  docs/analytics/apis/index.md
  docs/assets/images/analytics-aliasing-api.png
  includes/editions-portfolio-add-on.md
  mkdocs.yml
Labels: documentation, new doc

#486 DDI-317 Adding Client-side vs Server-side doc
  docs/data/sdks/index.md
  docs/data/sources.md
  docs/data/sources/client-side-vs-server-side.md
  includes/data-sources-sdks-client-side.md
  includes/data-sources-sdks-server-side.md
  mkdocs.yml
Labels: documentation, new doc

#491 DDI-360 Adds missing Optional identifiers to some params
  docs/analytics/apis/identify-api.md
Labels: documentation, doc update

#485 AMP-66512 Update CI docs to remove deprecated ampli-swift docker image
  docs/data/ampli/integrating-with-ci.md
Labels: documentation, doc update

#492 DDI-342: Adds crosslinks for Lookup tables info and cleans up formatting
  .github/styles/Vocab/dev/accept.txt
  .markdown-link-check.json
  docs/analytics/apis/lookup-tables-api.md
  docs/data/sources/lookup-table.md
  includes/postman.md
Labels: doc update

#495 DDI-348 Add Examples to CCPA DSAR API doc
  docs/analytics/apis/ccpa-dsar-api.md
Labels: documentation, doc update

#498 DDI-359 Adds examples to user profile API doc
  docs/analytics/apis/user-profile-api.md
  mkdocs.yml
Labels: documentation, doc update, roadmap work

#484 SKY-2444 add exposures but no assignment help doc
  docs/experiment/guides/troubleshooting/exposures-without-assignments.md
  mkdocs.yml
Labels: documentation, new doc

#501 DDI-363 Upgrade Material Version
  docs/stylesheets/extra.css
  insiders.local.build.yml
  insiders.mkdocs.yml
  mkdocs.yml
  overrides/partials/content.html
Labels: enhancement

#497 Updates docs for plugin to specify correct return type
  docs/data/ampli/plugin.md
  docs/data/sdks/android-kotlin/index.md
  docs/data/sdks/go/index.md
  docs/data/sdks/python/index.md
  docs/data/sdks/typescript-browser/index.md
  docs/data/sdks/typescript-node/index.md
  docs/data/sdks/typescript-react-native/index.md
Labels: documentation, doc update

#499 DDI-362: Adds changelog and all the fixins'
  .github/styles/Vocab/dev/accept.txt
  docs/changelog.md
  mkdocs.yml
Labels: documentation, enhancement, new doc, roadmap work

#503 DDI-365: Remove "New" Badges from old articles and remove banner
  .markdown-link-check.json
  docs/changelog.md
  docs/data/destinations/fivetran-event-forwarding.md
  docs/data/destinations/lantern-event-streaming.md
  docs/data/destinations/marketing-cloud-cohort-v2.md
  docs/data/destinations/maze-cohort.md
  docs/data/destinations/moveable-ink-profile-api.md
  docs/data/destinations/sendgrid-cohort.md
  docs/data/destinations/snapchat-ads-cohort.md
  docs/data/destinations/snowflake-data-share.md
  docs/data/destinations/statsig-cohort.md
  docs/data/destinations/talonone-cohort.md
  docs/data/destinations/userlist-cohort.md
  docs/data/destinations/webhooks-streaming.md
  docs/data/pii/datagrail.md
  docs/data/pii/osano.md
  docs/data/sources/chameleon.md
  docs/data/sources/cordial.md
  docs/data/sources/metarouter.md
  docs/data/sources/moengage.md
  docs/partners/cohort-integration-guide.md
  docs/partners/event-ingestion-integration-guide.md
  docs/partners/event-streaming-integration-guide.md
  docs/partners/integration-portal.md
  overrides/main.html
Labels: doc update

#505 DDI-366 Make local link checking easier and less stupid
  .markdown-link-check.json
  linkcheck.sh
Labels: enhancement

#504 DDI-364 Create a guide to Amplitude Keys and Tokens
  .github/styles/Amplitude/Headings.yml
  docs/guides/amplitude-keys-guide.md
  docs/stylesheets/extra.css
  includes/auth-basic-org-key.md
  mkdocs.yml
Labels: documentation, new doc, roadmap work

#506 Update this week's changlog with stragglers
  docs/changelog.md
Labels: doc update

#507 DDI-375 Enables Breadcrumb nav and adds comments to config file
  mkdocs.yml
Labels: enhancement

#510 DDI-374: Add Cloud Storage Overview
  docs/data/destination-cloud-storage-overview.md
  mkdocs.yml
Labels: new doc, roadmap work

#511 DDI-370: Adding Source Cloud storage overview
  docs/data/source-cloud-storage-overview.md
  mkdocs.yml
Labels: new doc, roadmap work

#512 DDI-368: Adding other sources overview doc
  docs/data/source-other-overview.md
  mkdocs.yml
Labels: new doc, roadmap work

#513 DDI-378: Rename event streaming overview file
  docs/data/destination-event-streaming-overview.md
  mkdocs.yml
Labels: doc update, roadmap work

#496 DDI-350: Export API : Add Examples
  docs/analytics/apis/export-api.md
Labels: documentation, doc update, roadmap work

#489 Amp 66679 add ampli quickstart
  .markdown-link-check.json
  docs/data/ampli/cli.md
  docs/data/sdks/android-kotlin/ampli.md
  docs/data/sdks/android/ampli.md
  docs/data/sdks/go/ampli.md
  docs/data/sdks/ios/ampli.md
  docs/data/sdks/java/ampli.md
  docs/data/sdks/javascript/ampli.md
  docs/data/sdks/node/ampli.md
  docs/data/sdks/python/ampli.md
  docs/data/sdks/react-native/ampli.md
  docs/data/sdks/sdk-quickstart.md
  docs/data/sdks/typescript-browser/ampli.md
  docs/data/sdks/typescript-node/ampli.md
  docs/data/sdks/typescript-react-native/ampli.md
  includes/ampli-vs-amplitude-link-to-core-sdk.md
  includes/ampli-vs-amplitude.md
  includes/ampli/cli-install-simple.md
  includes/ampli/cli-pull-and-status-section.md
  includes/ampli/javascript-enable-real-time-type-checking.md
Labels: documentation, doc update

#514 Update integration portal docs to reflect UI
  docs/partners/integration-portal.md
Labels: documentation, doc update

#516 DDI-373 Add cohort syncing overview
  docs/data/destination-cohort-overview.md
  mkdocs.yml
Labels: new doc, roadmap work

#517 DDI-376: Adding new API reference overview and dressing up API home page
  .github/styles/Amplitude/Headings.yml
  docs/analytics/api-reference-overview.md
  docs/analytics/apis/index.md
  docs/data/destinations.md
  includes/api-table-analytics.md
  includes/api-table-experiment.md
  includes/postman-interactive.md
  mkdocs.yml
Labels: documentation, new doc, roadmap work

#522 DDI-388 Fix and add allowlist IPs
  docs/data/destinations/snowflake.md
  docs/data/sources/snowflake.md
Labels: documentation, doc update

#523 DDI-389: Add product icon SVGs + Planned usability work
  docs/analytics/apis/index.md
  docs/analytics/index.md
  docs/data/index.md
  docs/documentation-home.md
  docs/guides/index.md
  docs/index.md
  mkdocs.yml
  overrides/.icons/amp-analytics.svg
  overrides/.icons/amp-audiences.svg
  overrides/.icons/amp-data.svg
  overrides/.icons/amp-experiment.svg
  overrides/home.html
Labels: enhancement, big doc, roadmap work

#519 DDI-381: Adding Metrics API doc
  docs/analytics/apis/event-streaming-metrics-summary-api.md
  includes/api-table-analytics.md
  mkdocs.yml
Labels: documentation, new doc

#521 DDI-377 Week Jan 16 Changelog
  docs/changelog.md
Labels: doc update

#453 AMP-64531 update all streaming docs
  docs/assets/images/integrations-intercom-enable-destination.png
  docs/data/destinations/appsflyer.md
  docs/data/destinations/braze.md
  docs/data/destinations/customerio.md
  docs/data/destinations/intercom.md
  docs/data/destinations/iterable.md
  docs/data/destinations/meta-pixel.md
Labels: documentation, doc update

#528 DDI-393: Update status for requests outside of 90 day retention period.
  docs/analytics/apis/event-streaming-metrics-summary-api.md
Labels: bug

#526 Amp 67569 Update doc for Snowflake time-based import that requires TIMESTAMP_NTZ format
  docs/data/sources/snowflake.md
Labels: bug, documentation

#493 iOS migration
  docs/data/sdks/ios-swift/migration.md
  docs/data/sdks/ios/index.md
  mkdocs.yml
Labels: doc update, new doc

#520 Amp 60809 cli configure command
  docs/data/ampli/cli.md
Labels: documentation, doc update

#529 DDI-396 Update SDK Nav
  docs/data/sdks/index.md
  docs/data/sdks/sdk-overview.md
  docs/data/sources.md
  includes/data-sources-sdks-client-side.md
  includes/data-sources-sdks-server-side.md
  includes/experiment-client-sdks.md
  includes/experiment-server-sdks.md
  mkdocs.yml
Labels: enhancement, roadmap work

#532 DDI-346 Link fixes and minor tweaks
  docs/analytics/apis/batch-event-upload-api.md
Labels: documentation, doc update

#533 DDI-380: Adds UTM params to all community links
  docs/all-resources.md
  docs/changelog.md
  docs/data/sdks/android/index.md
  docs/data/sdks/ios-swift/index.md
  docs/data/sdks/ios/index.md
  mkdocs.yml
Labels: enhancement

#534 DDI-399: Fix home page links to open in same tab
  mkdocs.yml
Labels: enhancement, feedback

#536 fix the go get url
  docs/data/sdks/go/index.md
Labels: doc update

#542 DDI-400: Self-serve quick win: add HRs to QS
  docs/stylesheets/extra.css
  includes/sdk-quickstart/quickstart-check-for-success.md
  includes/sdk-quickstart/quickstart-complete-code-example.md
  includes/sdk-quickstart/quickstart-enforce-event-schema-intro.md
  includes/sdk-quickstart/quickstart-initialize-library.md
  includes/sdk-quickstart/quickstart-send-data.md
Labels: enhancement, feedback

#539 Adding TTL Config. self-serve instructions
  docs/data/ttl-configuration.md
  mkdocs.yml
Labels: documentation, doc update

#543 DDI-402: Adding community help link in footers
  docs/all-resources.md
  docs/analytics/apis/index.md
  docs/analytics/index.md
  docs/data/index.md
  docs/data/sdks/index.md
  docs/documentation-home.md
  docs/experiment/index.md
  docs/guides/index.md
  docs/index.md
  docs/partners/index.md
  overrides/partials/content.html
Labels: enhancement

#541 AMP-66979 add python supported version and shutdown behavior update
  docs/data/sdks/python/index.md
Labels: documentation, doc update

#544 DDI-387: add extole event streaming
  .github/styles/Vocab/dev/accept.txt
  docs/data/destinations/extole-event-streaming.md
  includes/data-destinations-event-streaming.md
  mkdocs.yml
  overrides/.icons/extole.svg
Labels: documentation, new doc

#548 fix the setGroup ampli call
  docs/data/sdks/android-kotlin/ampli.md
  docs/data/sdks/go/ampli.md
  docs/data/sdks/typescript-browser/ampli.md
  docs/data/sdks/typescript-node/ampli.md
  docs/data/sdks/typescript-react-native/ampli.md
Labels: doc update

#549 DDI-384 import sprig events
  docs/changelog.md
  docs/data/sources/sprig.md
  includes/data-sources-other.md
  mkdocs.yml
  overrides/.icons/sprig.svg
Labels: documentation, new doc

#538 list server url for proxy for different sdks
  docs/analytics/domain-proxy.md
Labels: documentation, doc update

#552 DDI-382 Fix table icon tooltips
  docs/guides/amplitude-keys-guide.md
Labels: bug

#554 DDI-372 Adds warehouse overview doc
  docs/data/destination-warehouse-overview.md
  mkdocs.yml
Labels: enhancement, new doc, roadmap work

#555 DDI-391 Fix incorrect endpoint URL
  docs/analytics/apis/dashboard-rest-api.md
Labels: bug, doc update

#556 Add fix for TOC depth and better anchorlink tooltip text
  docs/data/sdks/typescript-react-native/index.md
  insiders.mkdocs.yml
  mkdocs.yml
Labels: enhancement

#545 AMP-66433 change productboard cohort sync description
  docs/data/destinations/productboard-cohort.md
Labels: documentation, doc update

#561 DDI-379 Add links to specific overview pages
  docs/data/destinations.md
  docs/data/sources.md
Labels: enhancement, roadmap work
